* {
  box-sizing: border-box;
}

header {
  position: relative;
  border: 1px solid black;
  margin:30px;
  padding: 5px;
  overflow: hidden;
  height:100px;
}
img.logoPic{
  height:95px;
}
#images-container{
  background-color: rgb(194, 248, 46);
}

.logoWithTitle{
  display:inline-block;
  height:95px;
}

h1{
  font-size: 2em;
  display:inline-block;
}

.logoPic{
  display:inline-block;
}

nav{
  display: inline-block;
  float: right;
}

nav>ul{
  display:inline-block;
}

nav>ul>li{
  display: inline-block;
}

main {
  position: relative;
  border: 1px solid red;
  display: inline-block;
  width: 100%;
  text-align: center;
}

img{
  width: 300px;
  height: 300px;
  margin:20px;
  border: 1px solid black;
}

canvas {
  width: 900px;
  
}
